body {
  margin: 0;
  padding: 0;
}

.hotel_main {
  width: 100%;
  overflow-y: auto;
  position: relative;

  .hotel_Upper {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;

    .left_1 {
      position: relative;
      width: 84%;
      height: 100%;
      margin-right: 0.5%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .book-button {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 8%;
        transform: translate(-50%, -50%);
        background-color: yellow;
        color: black;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        border: none;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .right_1 {
      height: 100%;
      width: 15.5%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .hotel_Lower {
    width: 100%;
    display: flex;
    height: 1300px;
    position: relative;
    margin-top: 10px;

    .left_2 {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 8%;
      align-items: center;

      img {
        height: 15%;
        width: 60%;
        object-fit: cover;
        border: 5px solid brown;
      }
    }

    .right_2 {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: azure;

        .hotel_details {
          width: 80%;
          height: 100%;
          display: flex;

          .left_half {
            width: 49%;
            height: 79%;
            background-color: rgb(34, 79, 79);
            padding: 30px;
            padding-top: 50px;
            color: white;
            position: relative;
            margin-right: 1%;

            .left_half_book_button {
              position: absolute;
              right: 1%;
              width: 15%;
              transform: translate(-50%, -50%);
              background-color: rgb(63, 105, 54);
              color: black;
              padding: 10px;
              padding-left: 20px;
              padding-right: 20px;
              border-radius: 15px;
              text-align: center;
              border: none;
              cursor: pointer;
              text-decoration: none;
            }
          }

          .right_half {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .upper_part_right_half {
              height: 50%;
              width: 100%;
              background-color: rgb(34, 79, 79);
            }

            .header_right_half {
              height: 10%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .lower_part_right_half {
              height: 40%;
              width: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .hotel_images {
          height: 100%;
          width: 20%;

          .upper_contain {
            height: 50%;
            width: 100%;
            line-height: 0%;

            img {
              height: 85%;
              width: 100%;
            }
          }

          .lower_contain {
            height: 50%;
            width: 100%;
            line-height: 0%;

            img {
              height: 85%;
              width: 100%;
            }
          }
        }
      }

      .bottom {
        display: flex;
        border: 1px solid black;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 68%;
        margin-top: 2%;
        width: 99%;

        .review {
          width: 31%;
          height: 48%;
          background-color: rgb(251, 251, 247);
          padding: 20px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px;

          .star-icons {
            margin-bottom: 10px;
            color: darkorange;
            font-size: 1.5rem;
          }

          .msg-icons {
            margin-bottom: 0.5rem;
            font-size: 2rem;
          }

          p {
            margin-bottom: 1.5rem;
            text-align: center;
          }

          strong {
            display: block;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  .image-row {
    position: absolute;
    height: 10%;
    width: 83%;
    top: 180px;
    display: flex;
    justify-content: space-around;
    z-index: 10;

    img {
      height: 100%;
      width: 15%;
      object-fit: cover;
      border: 5px solid brown;
    }
  }

  .addreview {
    margin-top: 1rem;
    position: relative;
    height: 2.5rem;

    button {
      position: absolute;
      background-color: rgb(34, 79, 79);
      left: 20%;
      height: 100%;
      width: 17rem;
      color: white;
      cursor: pointer;
    }
  }
}
